<a href="https://colab.research.google.com/github/priyxnshu07/UCS420/blob/main/CognitiveAssignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 2
Submitted by: Priyanshu Parashar

Q1.Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
L = [10,20,30,40,50,60,70,80]
print("i. adding 200 and 300 to L:")
L.extend([200,300])
print(L)

print("ii. removing 10 and 30 from L:")
L.remove(10)
L.remove(30)
print(L)

print("iii. sorting L in ascending order:")
print(sorted(L))

print("iv. sorting L in descending order:")
print(sorted(L,reverse=True))

i. adding 200 and 300 to L:
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
ii. removing 10 and 30 from L:
[20, 40, 50, 60, 70, 80, 200, 300]
iii. sorting L in ascending order:
[20, 40, 50, 60, 70, 80, 200, 300]
iv. sorting L in descending order:
[300, 200, 80, 70, 60, 50, 40, 20]

Q2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‚Äò76‚Äô (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it‚Äôs not present.

In [2]:

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest = max(scores)
highest_index = scores.index(highest)
lowest = min(scores)
lowest_count = scores.count(lowest)
reversed_list = list(scores[::-1])
specific_score = 76
if specific_score in scores:
    specific_index = scores.index(specific_score)
    print(f"Highest Score: {highest}, Index: {highest_index}\nLowest Score: {lowest}, Count: {lowest_count}\nReversed List: {reversed_list}\n76 is present at Index: {specific_index}")
else:
    print(f"Highest Score: {highest}, Index: {highest_index}\nLowest Score: {lowest}, Count: {lowest_count}\nReversed List: {reversed_list}\n76 is not present")

Highest Score: 92, Index: 5
Lowest Score: 45, Count: 2
Reversed List: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 is present at Index: 2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [1]:
import random

def is_prime(n):
    return n > 1 and all(n % i for i in range(2, int(n**0.5) + 1))

nums = [random.randint(100, 900) for _ in range(100)]
odds = [n for n in nums if n % 2]
evens = [n for n in nums if n % 2 == 0]
primes = [n for n in nums if is_prime(n)]

print(f"Random Numbers: {nums}\nTotal Odd Numbers: {len(odds)}\nOdd Numbers: {odds}\nTotal Even Numbers: {len(evens)}\nEven Numbers: {evens}\nTotal Prime Numbers: {len(primes)}\nPrime Numbers: {primes}")

Random Numbers: [215, 333, 620, 350, 492, 126, 104, 242, 243, 474, 594, 882, 433, 725, 241, 882, 104, 509, 220, 123, 196, 427, 416, 782, 727, 512, 632, 858, 461, 102, 770, 151, 237, 131, 847, 840, 560, 864, 718, 370, 695, 522, 657, 138, 263, 803, 620, 166, 839, 569, 753, 579, 801, 899, 829, 136, 711, 760, 517, 847, 701, 179, 687, 103, 117, 843, 446, 614, 328, 789, 765, 856, 370, 519, 734, 760, 754, 563, 778, 552, 520, 893, 159, 254, 470, 145, 553, 335, 458, 817, 561, 160, 130, 300, 635, 507, 771, 711, 561, 738]
Total Odd Numbers: 51
Odd Numbers: [215, 333, 243, 433, 725, 241, 509, 123, 427, 727, 461, 151, 237, 131, 847, 695, 657, 263, 803, 839, 569, 753, 579, 801, 899, 829, 711, 517, 847, 701, 179, 687, 103, 117, 843, 789, 765, 519, 563, 893, 159, 145, 553, 335, 817, 561, 635, 507, 771, 711, 561]
Total Even Numbers: 49
Even Numbers: [620, 350, 492, 126, 104, 242, 474, 594, 882, 882, 104, 220, 196, 416, 782, 512, 632, 858, 102, 770, 840, 560, 864, 718, 370, 522, 138, 620, 166, 136, 760, 446, 614, 328, 856, 370, 734, 760, 754, 778, 552, 520, 254, 470, 458, 160, 130, 300, 738]
Total Prime Numbers: 15
Prime Numbers: [433, 241, 509, 727, 461, 151, 131, 263, 839, 569, 829, 701, 179, 103, 563]

4. Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersection of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score ùëã (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [3]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

print("Union:", A | B)
print("Intersection:", A & B)
print("Symmetric Difference:", A ^ B)
print("Is A a subset of B:", A <= B)
print("Is B a superset of A:", B >= A)

X = int(input("Enter a score to remove from A: "))
if X in A:
    A.remove(X)
    print(f"{X} removed. Updated A:", A)
else:
    print(f"{X} not present in A.")

Union: {34, 45, 78, 23, 56, 90}
Intersection: {90, 78}
Symmetric Difference: {34, 45, 23, 56}
Is A a subset of B: False
Is B a superset of A: False
Enter a score to remove from A: 56
56 removed. Updated A: {34, 90, 78}

5. Write a program to rename a key city to a location in the following dictionary

In [4]:
data = {"city": "Noida", "country": "India", "population": 8000000}

new_key = "location"
data[new_key] = data.pop("city")

print("Updated dictionary:", data)

Updated dictionary: {'country': 'India', 'population': 8000000, 'location': 'Noida'}